@media (max-width: 1000px) {
  main {
    width: 50%;
  }
}

@media (max-width: 670px) {
  .header-list {
    display: none;
  }
  
  main {
    width: 100%;
  }


  
  img {
    display: block;
    margin: 0 auto;
    height: 90%;
    width: 100%;
  }
  footer {
    text-align: center;
  }

}
