body {
  font-family: "游明朝";
  color: white;
}

li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}

header {
  background-color: white;
  height: 91px;
  width: 100%;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
  letter-spacing: 2px;
  color: black;
}
.header-list a {
  color: black;
  padding: 20px 20px;
  margin: 25px 30px 0px 0px;
  display: inline-block;
  letter-spacing: 3px;
  text-align: center;
  background-color: white;
  line-height: 1px;
  transition: all 1s;
}

.btn:hover {
  color: white;
  background-color: black;
}
.main {
  background-color: #BDB76B;
  height: 4600px;
  padding: 100px 80px;
}




.contents {
  height:500px;
  width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-size: 50px;
  padding-bottom: 150px;
  margin-bottom:50px;
  text-align: center;
}
.contents-item {
  width: 1000px;
  margin-bottom: 50px;
  padding-bottom: 100px;
  text-align: center;
  
}

.contents-item p {
  font-size: 27px;
  margin: 50px 0px;
  text-align: center;
}

.profilepic {
  height: 350px;
  width: 400px;
}
.hoby {
  height: 350px;
  width: 400px;
}

.book {
  height: 350px;
  width: 400px;
}

.footer {
 background-color: white;
 height: 50px;
 padding: 40px;
}

.footer-logo {
  color: #BDB76B;
  font-size: 30px;
  margin: 0px 0px 30px 1050px;
}
explanation {
  font-size: 18px;
  border-bottom: 1px solid black;
  margin: 0px 50px 30px 250px;
  padding-bottom: 100px;
  width: 500px;
}

.explanation-2 {
  font-size: 18px;
  margin: 0px 50px 30px 250px;
  width: 500px;
} 

.favo {
  font-size: 22px;
  border-bottom: 1px solid white;
  display: inline-block;
  list-style: none;
}
.target {
  font-size: 22px;
  border-bottom: 1px solid white;
  display: inline-block;
}

.clear {
  clear: left;
}

*{
  box-sizing: border-box;
}
