* {
  box-sizing: border-box;
}

body {
  font-family: "游明朝";
  color: white;
}

li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}

header {
  background-color: white;
  height: 91px;
  width: 100%;
  top: 0;
  z-index: 10;
  position: fixed;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
  letter-spacing: 2px;
  color: black;
}
.header-list a {
  color: black;
  padding: 20px 20px;
  margin: 25px 30px 0px 0px;
  display: inline-block;
  letter-spacing: 3px;
  text-align: center;
  background-color: white;
  line-height: 1px;
  transition: all 1s;
  flex: auto;
}



.btn:hover {
  color: white;
  background-color: black;
}

.clear {
  clear: left;
}

.main {
  width: 100%;
  background-color: #BDB76B; 
  padding: 100px 80px;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}
.contents {
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 50px;
  padding-bottom: 150px;
  margin-bottom:50px;
  text-align: center;
}


.contents-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: atuto;
}

h2 {
  font-size: 32px;
  margin: 50px 0px;
  text-align: center;
}
img {
  height: 350px;
  width: 400px;
  margin-bottom: 100px;
}


.explanation-1 {
  font-size: 18px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 100px;
}

.explanation-2 {
  font-size: 18px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 100px;
} 
.explanation-3 {
  font-size: 18px;
  margin: 0 auto;
  width: 100%;
}

.favo {
  font-size: 22px;
  border-bottom: 1px solid white;
  margin-top: 22px;
}

.target {
  font-size: 22px;
  border-bottom: 1px solid white;
}
.clear {
  clear: left;
}
.footer {
 background-color: white;
 height: 50px;
 padding: 40px;
}
      
.footer-logo {
  color: #BDB76B;
  font-size: 24px;
  padding-bottom: 30px;
  text-align: center;
}
