* {
  box-sizing: border-box;
}

body {
  font-family: "游明朝";
  color: white;
}

li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}
header {
  background-color: white;
  height: 91px;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
  letter-spacing: 2px;
  color: black;
}
.header-list a {
  color: black;
  padding: 20px 20px;
  margin: 25px 30px 0px 0px;
  display: inline-block;
  letter-spacing: 3px;
  text-align: center;
  background-color: white;
  line-height: 1px;
  transition: all 1s;
}

.btn:hover {
  color: white;
  background-color: black;
}

.clear {
  clear: left;
}
.main {
  background-color: #BDB76B;
  
  padding: 100px 80px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}




.contents {
  
  width: 1000px;
  margin: 0 auto;
}
.section-title {
  font-size: 50px;
  padding-bottom: 150px;
  margin-bottom:50px;
  text-align: center;
}

.contents {
  text-align: center;
}

.contents-item {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 100px;
  text-align: center;
  
}
.contents-item a {
  font-size: 27px;
  margin: 50px 0px;
  text-align: center;
}

img {
  height: 350px;
  width: 400px;
}



.footer {
 background-color: white;
 height: 50px;
 padding: 40px;
}
.footer-logo {
  color: #BDB76B;
  font-size: 30px;
  margin: 0 auto;
}

.explanation {
  font-size: 18px;
  border-bottom: 1px solid black;
  margin: 0px 50px 30px 250px;
  padding-bottom: 100px;
  width: 50%;
  cursor: pointer;
}

.explanation-2 {
   font-size: 18px;
  border-bottom: 1px solid black;
  margin: 0px 50px 30px 250px;
  padding-bottom: 100px;
  width: 50%;
  cursor: pointer;
}

.explanation-3 {
  font-size: 18px;
  margin: 0px 50px 30px 250px;
  width: 500px;
  cursor: pointer;
} 
.favo {
  font-size: 22px;
  border-bottom: 1px solid white;
  display: inline-block;
  list-style: none;
}

.target {
  font-size: 22px;
  border-bottom: 1px solid white;
  display: inline-block;
}

.clear {
  clear: left;
}
